 @import "tailwindcss";


 @layer base {
     html {
         scroll-behavior: smooth;
     }

     body {
         @apply bg-zinc-50 text-zinc-900 antialiased;
     }

     ::selection {
         background: rgb(228 228 231);
         /* zinc-200 */
     }

     :focus-visible {
         outline: 3px solid rgb(161 161 170);
         /* zinc-400 */
         outline-offset: 2px;
     }
 }

 @layer utilities {
     .pretty-scrollbar::-webkit-scrollbar {
         height: 8px;
     }

     .pretty-scrollbar::-webkit-scrollbar-track {
         background: transparent;
     }

     .pretty-scrollbar::-webkit-scrollbar-thumb {
         background: rgb(212 212 216);
         /* zinc-300 */
         border-radius: 999px;
     }

     .pretty-scrollbar::-webkit-scrollbar-thumb:hover {
         background: rgb(161 161 170);
         /* zinc-400 */
     }

     .pretty-scrollbar {
         scrollbar-color: rgb(212 212 216) transparent;
         /* Firefox */
         scrollbar-width: thin;
     }
 }

 @layer utilities {
     .no-scrollbar {
         -ms-overflow-style: none;
         scrollbar-width: none;
     }

     .no-scrollbar::-webkit-scrollbar {
         display: none;
     }
 }